apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
  labels:
    app: service-a
    version: "1.5"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
        version: "1.5"
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8181"
    spec:
      containers:
        - name: service-a
          image: hienvinh/microservice-service-a:1.7
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8181
              protocol: TCP
          env:
            - name: KAFKA_BOOTSTRAP_SERVER
              value: "100.120.13.230:29092"
            - name: JAVA_MIN_MEM
              value: "128M"
            - name: JAVA_MAX_MEM
              value: "768M"
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "1"
              memory: "2Gi"
          livenessProbe:
            httpGet:
              path: /api/health
              port: 8181
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: /api/health
              port: 8181
            initialDelaySeconds: 90
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 6
---
apiVersion: v1
kind: Service
metadata:
  name: service-a
  labels:
    app: service-a
spec:
  type: NodePort
  ports:
    - name: http
      port: 8181
      targetPort: 8181
      protocol: TCP
      nodePort: 30081
  selector:
    app: service-a