featuresRepositories = \
  mvn:org.apache.karaf.features/framework/4.4.6/xml/features, \
  mvn:org.apache.karaf.features/standard/4.4.6/xml/features, \
  mvn:org.ops4j.pax.web/pax-web-features/10.0.0/xml/features

featuresBoot = \
  scr, \
  pax-web-http-jetty, \
  pax-web-whiteboard, \
  # add more if needed, e.g. http-whiteboard, eventadmin, etc.